@using Prescriptions.Prescription

@model PrescriptionFormModel

@{
	ViewData["Title"] = "Edit Prescription";
}

<h2 class="text-center">Add new animal</h2>
<hr />

<partial name="_PrescriptionFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}