@using AnimalOwner.AnimalOwner
@model AnimalOwnerMiniServiceModel

<div class="card" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">Owner Info</h5>
		<p class="card-text">Full Name: @Model.FullName</p>
		<p class="card-text">PhoneNumber: @Model.PhoneNumber</p>
		<a class="btn btn-primary" asp-controller="AnimalOwner" asp-action="Details" asp-route-id="@Model.Id">Details</a>
	</div>
</div>