@using AnimalOwner.AnimalOwner
@model AnimalOwnerFormModel
@{
}
@{
	ViewData["Title"] = "Edit Owner";
}

<h2 class="text-center">Add new animal Owner</h2>
<hr />

<partial name="_OwnerFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}